<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title>IMCV BAZIS Agent</title>
  <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans:600" />
  {% stylesheets '@AppBundle/Resources/public/css/*' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
  {% endstylesheets %}
  <link rel="icon" type="image/x-icon" href="{{ asset('favicon.png') }}" />
</head>
<body>
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <form class="navbar-form">
        <div class="input-group">
          <span class="input-group-addon">Agen BAZIS</span>
          <select class="form-control" id="agent">
            <option value="">Pilih</option>
          </select>
        </div>
      </form>
    </div>
  </nav>

  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-6">
        <div class="form-group">
          <h4>ZIS Atas Nama</h4>
          <input type="text" class="form-control input-lg" id="onBehalfOf" />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-6">
        <div class="form-group">
          <h4>Dalam Rangka</h4>
          <select class="form-control input-lg" id="cause">
            <option value="0">Tidak Ada</option>
          </select>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-6">
        <div class="form-group">
          <h4>Zakat Fitrah</h4>
          <h6>$<span class="rate-fitrah"><i class="fas fa-spinner fa-spin"></i></span> per Jiwa</h6>
          <select class="form-control input-lg" id="fitrah">
            <option value="0">Tidak Ada</option>
            <option value="1">1 Orang</option>
            <option value="2">2 Orang</option>
            <option value="3">3 Orang</option>
            <option value="4">4 Orang</option>
            <option value="5">5 Orang</option>
            <option value="6">6 Orang</option>
            <option value="7">7 Orang</option>
            <option value="8">8 Orang</option>
            <option value="9">9 Orang</option>
            <option value="10">10 Orang</option>
          </select>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-6">
        <div class="form-group">
          <h4>Fidyah</h4>
          <h6>$<span class="rate-fidyah"><i class="fas fa-spinner fa-spin"></i></span> per Hari</h6>
          <select class="form-control input-lg" id="fidyah">
            <option value="0">Tidak Ada</option>
            <option value="1">1 Hari</option>
            <option value="2">2 Hari</option>
            <option value="3">3 Hari</option>
            <option value="4">4 Hari</option>
            <option value="5">5 Hari</option>
            <option value="6">6 Hari</option>
            <option value="7">7 Hari</option>
            <option value="8">8 Hari</option>
            <option value="9">9 Hari</option>
            <option value="10">10 Hari</option>
            <option value="11">11 Hari</option>
            <option value="12">12 Hari</option>
            <option value="13">13 Hari</option>
            <option value="14">14 Hari</option>
            <option value="15">15 Hari</option>
            <option value="16">16 Hari</option>
            <option value="17">17 Hari</option>
            <option value="18">18 Hari</option>
            <option value="19">19 Hari</option>
            <option value="20">20 Hari</option>
            <option value="21">21 Hari</option>
            <option value="22">22 Hari</option>
            <option value="23">23 Hari</option>
            <option value="24">24 Hari</option>
            <option value="25">25 Hari</option>
            <option value="26">26 Hari</option>
            <option value="27">27 Hari</option>
            <option value="28">28 Hari</option>
            <option value="29">29 Hari</option>
            <option value="30">30 Hari</option>
          </select>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-6">
        <div class="form-group">
          <h4>Zakat Maal</h4>
          <h6>2.5% dari total harta kita (uang kas, emas, perak dan pendapatan bisnis) batas nisab <span class="rate-nisab"><i class="fas fa-spinner fa-spin"></i></span></h6>
          <input type="text" class="form-control input-lg only-digits" id="maal" />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-6">
        <div class="form-group">
          <h4>Infak atau Sodaqoh</h4>
          <input type="text" class="form-control input-lg only-digits" id="infak" />
        </div>
      </div>
    </div>
    <div class="row" id="summary">
      <div class="col-xs-12 col-sm-12 col-md-12">
        <h4>Rincian Pembayaran</h4>
        <table class="table">
          <tr id="fitrahRow">
            <td>Zakat Fitrah:</td>
            <td class="text-center">$12</td>
            <td class="text-center">x</td>
            <td class="quantity text-center"></td>
            <td class="text-center">=</td>
            <td class="total text-right"></td>
          </tr>
          <tr id="fidyahRow">
            <td>Fidyah:</td>
            <td class="text-center">$12</td>
            <td class="text-center">x</td>
            <td class="quantity text-center"></td>
            <td class="text-center">=</td>
            <td class="total text-right"></td>
          </tr>
          <tr id="maalRow">
            <td colspan="5">Zakat Maal:</td>
            <td class="total text-right"></td>
          </tr>
          <tr id="infakRow">
            <td colspan="5">Infak / Sodaqoh:</td>
            <td class="total text-right"></td>
          </tr>
          <tr>
            <td colspan="5">
              <h3>Total Pembayaran:</h3>
            </td>
            <td class="text-right">
              <h3 class="total"></h3>
            </td>
          </tr>
        </table>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-7 col-md-7">
        <div class="form-group">
          <h4>Nama Lengkap <span class="glyphicon glyphicon-asterisk text-danger"></span></h4>
          <input type="text" class="form-control input-lg" id="name" />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-5 col-md-5">
        <div class="form-group">
          <h4>Nomor Telefon <span class="glyphicon glyphicon-asterisk text-danger"></span></h4>
          <input type="text" class="form-control input-lg only-digits" id="mobile" />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-7 col-md-7">
        <div class="form-group">
          <h4>Alamat Email</h4>
          <input type="email" class="form-control input-lg" id="email" />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-4 col-md-4">
        <div class="form-group">
          <h4>Metode Pembayaran</h4>
          <select class="form-control input-lg" id="paymentMethod">
            <option>Cash</option>
            <option>EFTPos</option>
            <option>Transfer</option>
          </select>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-6 col-sm-offset-3 col-sm-3 col-md-offset-3 col-md-3">
        <button class="btn btn-default btn-block btn-lg" id="resetButton">Reset</button>
      </div>
      <div class="col-xs-6 col-sm-3 col-md-3">
        <button class="btn btn-primary btn-block btn-lg" id="processButton">Save</button>
      </div>
    </div>
  </div>

  <nav class="navbar navbar-inverse navbar-fixed-bottom">
    <div class="container">
      <p class="navbar-text">&copy; 2019 IMCV BAZIS | bazis.imcv.org.au</p>
    </div>
  </nav>

  <!-- Validation errors modal dialog -->
  <div class="modal fade" id="validationModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title">Maaf!</h4>
        </div>
        <div class="modal-body">
          <p class="error-message"></p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary btn-block btn-lg" data-dismiss="modal">OK</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Progress modal dialog -->
  <div class="modal fade" id="progressModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title">Processing...</h3>
        </div>
        <div class="modal-body">
          <div class="progress">
            <div class="progress-bar progress-bar-striped active" role="progressbar" style="width: 100%"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Confirmation modal dialog -->
  <div class="modal fade" id="successModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title">Done!</h4>
        </div>
        <div class="modal-body">
          <p>Jazakumullah, <span class="name"></span></ap>
          <p>Anda telah tercatat dalam pembayaran Zakat melalui IMCV BAZIS. Berikut ini adalah rincian pembayaran anda.</p>
          <table></table>
          <div class="transfer-info">
            <p>Mohon untuk melakukan transfer pembayaran anda ke rekening Bazis IMCV dengan rincian di bawah ini.</p>
            <p>Account Name: IMCV Inc. BAZIS</p>
            <p>BSB: 083144</p>
            <p>Account Number: 944280572</p>
            <p>Description: <strong class="reference"></strong></p>
            <p>Amount: <strong class="total"></strong></p>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary btn-block btn-lg" data-dismiss="modal">OK</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Vendor -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

  {% javascripts '@AppBundle/Resources/public/js/agent.js' %}
    <script src="{{ asset_url }}"></script>
  {% endjavascripts %}
</body>
</html>
