<!DOCTYPE html>
<html ng-app="app">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title>IMCV BAZIS</title>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />
  <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
  <link rel="stylesheet" href="https://unpkg.com/placeholder-loading/dist/css/placeholder-loading.min.css">
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans:400,600">
  {% stylesheets '@AppBundle/Resources/public/css/*' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
  {% endstylesheets %}
  <link rel="icon" type="image/x-icon" href="{{ asset('favicon.png') }}" />
</head>
<body ng-controller="ApplicationCtrl">
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="#/">BAZIS</a>
      </div>
    </div>
  </nav>

  <div class="container">
    <div ng-view autoscroll="true"></div>
  </div>

  <nav class="navbar navbar-inverse navbar-fixed-bottom">
    <div class="container">
      <p class="navbar-text">&copy; 2019 IMCV BAZIS | bazis.imcv.org.au</p>
    </div>
  </nav>


  <!-- Templates -->
  <script type="text/ng-template" id="index.html">
    <div class="row">
      <div class="col-xs-12 col-sm-offset-9 col-sm-3 col-md-offset-9 col-md-3">
        <button class="btn btn-primary btn-lg btn-block" ng-click="start()">Start Payment</button>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12" ng-bind-html="homepage"></div>
      <div class="col-xs-12 col-sm-12 col-md-12" ng-if="!homepage">
        <div class="ph-row">
          <div class="ph-col-12 empty"></div>
        </div>
        <div class="ph-row">
          <div class="ph-col-12 big"></div>
        </div>
        <div class="ph-row">
          <div class="ph-col-6 big"></div>
          <div class="ph-col-6 empty"></div>
        </div>
        <div class="ph-row">
          <div class="ph-col-12"></div>
          <div class="ph-col-12"></div>
          <div class="ph-col-6"></div>
          <div class="ph-col-4"></div>
        </div>
        <div class="ph-row">
          <div class="ph-col-12"></div>
          <div class="ph-col-12"></div>
          <div class="ph-col-6"></div>
          <div class="ph-col-4"></div>
        </div>
        <div class="ph-row">
          <div class="ph-col-12"></div>
          <div class="ph-col-12"></div>
          <div class="ph-col-6"></div>
          <div class="ph-col-4"></div>
        </div>
        <div class="ph-row">
          <div class="ph-col-12"></div>
          <div class="ph-col-6"></div>
          <div class="ph-col-4"></div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-offset-9 col-sm-3 col-md-offset-9 col-md-3">
        <button class="btn btn-primary btn-lg btn-block" ng-click="start()">Start Payment</button>
      </div>
    </div>
  </script>

  <script type="text/ng-template" id="payments.html">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12">
        <progressbar max="[[ wizard.maximumStepCount ]]" value="[[ stepNumber ]]">[[ stepNumber ]] / [[ wizard.maximumStepCount ]]</progressbar>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12">
        <p>Please specify your payment below:</p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-6">
        <div class="form-group">
          <h4>ZIS on behalf of</h4>
          <input type="text" class="form-control input-lg" ng-model="payment.onBehalfOf" />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-6">
        <div class="form-group">
          <h4>Cause</h4>
          <select class="form-control input-lg" ng-model="payment.cause" ng-change="handleCauseChanged()" convert-to-number ng-disabled="!causes">
            <option value="0">None</option>
            <option ng-repeat="cause in causes" value="[[ cause.id ]]">[[ cause.name ]]</option>
          </select>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-6">
        <div class="form-group">
          <h4>Zakat Fitrah</h4>
          <h6 ng-if="rates.fitrah">[[ rates.fitrah | currency:"$":0 ]] per Person</h6>
          <h6 ng-if="!rates.fitrah"><i class="fas fa-spinner fa-spin"></i></h6>
          <select class="form-control input-lg" ng-model="payment.fitrah" convert-to-number>
            <option value="0">None</option>
            <option value="1">1 person</option>
            <option value="2">2 people</option>
            <option value="3">3 people</option>
            <option value="4">4 people</option>
            <option value="5">5 people</option>
            <option value="6">6 people</option>
            <option value="7">7 people</option>
            <option value="8">8 people</option>
            <option value="9">9 people</option>
            <option value="10">10 people</option>
          </select>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-6">
        <div class="form-group">
          <h4>Fidyah</h4>
          <h6 ng-if="rates.fidyah">[[ rates.fidyah | currency:"$":0 ]] per Day</h6>
          <h6 ng-if="!rates.fidyah"><i class="fas fa-spinner fa-spin"></i></h6>
          <select class="form-control input-lg" ng-model="payment.fidyah" convert-to-number>
            <option value="0">None</option>
            <option value="1">1 day</option>
            <option value="2">2 days</option>
            <option value="3">3 days</option>
            <option value="4">4 days</option>
            <option value="5">5 days</option>
            <option value="6">6 days</option>
            <option value="7">7 days</option>
            <option value="8">8 days</option>
            <option value="9">9 days</option>
            <option value="10">10 days</option>
            <option value="11">11 days</option>
            <option value="12">12 days</option>
            <option value="13">13 days</option>
            <option value="14">14 days</option>
            <option value="15">15 days</option>
            <option value="16">16 days</option>
            <option value="17">17 days</option>
            <option value="18">18 days</option>
            <option value="19">19 days</option>
            <option value="20">20 days</option>
            <option value="21">21 days</option>
            <option value="22">22 days</option>
            <option value="23">23 days</option>
            <option value="24">24 days</option>
            <option value="25">25 days</option>
            <option value="26">26 days</option>
            <option value="27">27 days</option>
            <option value="28">28 days</option>
            <option value="29">29 days</option>
            <option value="30">30 days</option>
          </select>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-6">
        <div class="form-group">
          <h4>Zakat Maal</h4>
          <h6 ng-if="rates.nisab">2.5% of our total assets (cash, gold, silver and business) Nisab/Threshold [[ rates.nisab | currency ]]</h6>
          <h6 ng-if="!rates.nisab"><i class="fas fa-spinner fa-spin"></i></h6>
          <input type="text" class="form-control input-lg" ng-model="payment.maal" only-digits />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-6">
        <div class="form-group">
          <h4>Infaq or Sadaqa</h4>
          <input type="text" class="form-control input-lg" ng-model="payment.infak" only-digits />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-6 col-sm-3 col-md-3">
        <button class="btn btn-block btn-lg btn-default" ng-click="previous()">Back</button>
      </div>
      <div class="col-xs-6 col-sm-offset-6 col-sm-3 col-md-offset-6 col-md-3">
        <button class="btn btn-block btn-lg btn-primary" ng-click="next()">Continue</button>
      </div>
    </div>
  </script>

  <script type="text/ng-template" id="summary.html">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12">
        <progressbar max="[[ wizard.maximumStepCount ]]" value="[[ stepNumber ]]">[[ stepNumber ]] / [[ wizard.maximumStepCount ]]</progressbar>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12">
        <p>Below is the summary of your payment. Please continue to the next step.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12">
        <table class="table">
          <tr ng-show="payment.onBehalfOf">
            <td>On Behalf Of:</td>
            <td colspan="5">[[ payment.onBehalfOf ]]</td>
          </tr>
          <tr ng-show="payment.cause">
            <td>Cause:</td>
            <td colspan="5">[[ payment.causeName ]]</td>
          </tr>
          <tr ng-show="payment.fitrah">
            <td>Zakat Fitrah:</td>
            <td class="text-center">[[ rates.fitrah | currency:"$":2 ]]</td>
            <td class="text-center">x</td>
            <td class="quantity text-center">[[ payment.fitrah ]]</td>
            <td class="text-center">=</td>
            <td class="total text-right">[[ (rates.fitrah * payment.fitrah) | currency:"$":2 ]]</td>
          </tr>
          <tr ng-show="payment.fidyah">
            <td>Fidyah:</td>
            <td class="text-center">[[ rates.fidyah | currency:"$":2 ]]</td>
            <td class="text-center">x</td>
            <td class="quantity text-center">[[ payment.fidyah ]]</td>
            <td class="text-center">=</td>
            <td class="total text-right">[[ (rates.fidyah * payment.fidyah) | currency:"$":2 ]]</td>
          </tr>
          <tr ng-show="maal">
            <td colspan="5">Zakat Maal:</td>
            <td class="total text-right">[[ maal | currency:"$":2 ]]</td>
          </tr>
          <tr ng-show="infak">
            <td colspan="5">Infaq / Sadaqa:</td>
            <td class="total text-right">[[ infak | currency:"$":2 ]]</td>
          </tr>
          <tr ng-show="payment.method === 'Card'">
            <td colspan="5">Transaction Fee:</td>
            <td class="total text-right" ng-if="calculatingFee">
              <i class="fas fa-spinner fa-spin"></i>
            </td>
            <td class="total text-right" ng-if="!calculatingFee">[[ payment.fee | currency:"$":2 ]]</td>
          </tr>
          <tr>
            <td colspan="5">
              <h3>Total Payable:</h3>
            </td>
            <td class="text-right">
              <h3 class="total">[[ payment.total | currency:"$":2 ]]</h3>
            </td>
          </tr>
        </table>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-6">
        <div class="form-group">
          <h4>Payment Method</h4>
          <select class="form-control input-lg" ng-model="payment.method" ng-change="handlePaymentMethodChanged()">
            <option value="Transfer">Transfer</option>
            <option value="Card">Credit/Debit Card</option>
          </select>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-6 col-sm-3 col-md-3">
        <button class="btn btn-block btn-lg btn-default" ng-click="previous()">Back</button>
      </div>
      <div class="col-xs-6 col-sm-offset-6 col-sm-3 col-md-offset-6 col-md-3">
        <button class="btn btn-block btn-lg btn-primary" ng-click="next()">Continue</button>
      </div>
    </div>
  </script>

  <script type="text/ng-template" id="payer.html">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12">
        <progressbar max="[[ wizard.maximumStepCount ]]" value="[[ stepNumber ]]">[[ stepNumber ]] / [[ wizard.maximumStepCount ]]</progressbar>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12">
        <p>Please enter your name and contact detail. If you specify your email address we will send a copy of the invoice/receipt to your email address.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-7 col-md-7">
        <div class="form-group" ng-class="{'has-error': nameError}">
          <h4>Full Name <span class="glyphicon glyphicon-asterisk text-danger"></span></h4>
          <input type="text" class="form-control input-lg" ng-model="payment.name" />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-5 col-md-5">
        <div class="form-group" ng-class="{'has-error': mobileError}">
          <h4>Contact Number <span class="glyphicon glyphicon-asterisk text-danger"></span></h4>
          <input type="text" class="form-control input-lg" ng-model="payment.mobile" only-digits />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-7 col-md-7">
        <div class="form-group" ng-class="{'has-error': emailError}">
          <h4>Email Address</h4>
          <input type="text" class="form-control input-lg" ng-model="payment.email" />
        </div>
      </div>
    </div>
    <div class="row" ng-if="payment.method === 'Card'">
      <div class="col-xs-12 col-sm-6 col-md-6">
        <div class="form-group">
          <h4>Card Detail <span class="glyphicon glyphicon-asterisk text-danger"></span></h4>
          <stripe-element instance="element" class="form-control input-lg"></stripe-element>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-6 col-sm-3 col-md-3">
        <button class="btn btn-block btn-lg btn-default" ng-click="previous()">Back</button>
      </div>
      <div class="col-xs-6 col-sm-offset-6 col-sm-3 col-md-offset-6 col-md-3">
        <button class="btn btn-block btn-lg btn-primary" ng-click="next()">Continue</button>
      </div>
    </div>
  </script>

  <script type="text/ng-template" id="confirmation.html">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12">
        <progressbar max="[[ wizard.maximumStepCount ]]" value="[[ stepNumber ]]">[[ stepNumber ]] / [[ wizard.maximumStepCount ]]</progressbar>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12">
        <h3>Jazakumullah, [[ payment.name ]].</h3>
      </div>
    </div>
    <div class="row" ng-if="payment.method === 'Transfer'">
      <div class="col-xs-12 col-sm-12 col-md-12">
        <p>We have recorded your payment intent.</p>
        <p>Please transfer the amount to the following Bazis IMCV account with detail as follows.</p>
        <p>Account Name: IMCV Inc. BAZIS</p>
        <p>BSB: 083144</p>
        <p>Account Number: 944280572</p>
        <p>Description: [[ payment.reference ]]</p>
        <p>Amount: [[ payment.total | currency:"$":2 ]]</p>
      </div>
    </div>
    <div class="row" ng-if="payment.method === 'Card'">
      <div class="col-xs-12 col-sm-12 col-md-12">
        <p>Your card has been charged.</p>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-12">
        <table class="table">
          <tr ng-show="payment.onBehalfOf">
            <td>On Behalf Of:</td>
            <td colspan="5">[[ payment.onBehalfOf ]]</td>
          </tr>
          <tr ng-show="payment.cause">
            <td>Cause:</td>
            <td colspan="5">[[ payment.causeName ]]</td>
          </tr>
          <tr ng-show="payment.fitrah">
            <td>Zakat Fitrah:</td>
            <td class="text-center">[[ rates.fitrah | currency:"$":2 ]]</td>
            <td class="text-center">x</td>
            <td class="quantity text-center">[[ payment.fitrah ]]</td>
            <td class="text-center">=</td>
            <td class="total text-right">[[ (rates.fitrah * payment.fitrah) | currency:"$":2 ]]</td>
          </tr>
          <tr ng-show="payment.fidyah">
            <td>Fidyah:</td>
            <td class="text-center">[[ rates.fidyah | currency:"$":2 ]]</td>
            <td class="text-center">x</td>
            <td class="quantity text-center">[[ payment.fidyah ]]</td>
            <td class="text-center">=</td>
            <td class="total text-right">[[ (rates.fidyah * payment.fidyah) | currency:"$":2 ]]</td>
          </tr>
          <tr ng-show="maal">
            <td colspan="5">Zakat Maal:</td>
            <td class="total text-right">[[ maal | currency:"$":2 ]]</td>
          </tr>
          <tr ng-show="infak">
            <td colspan="5">Infaq / Sadaqa:</td>
            <td class="total text-right">[[ infak | currency:"$":2 ]]</td>
          </tr>
          <tr ng-show="payment.method === 'Card'">
            <td colspan="5">Transaction Fee:</td>
            <td class="total text-right" ng-if="calculatingFee">
              <i class="fas fa-spinner fa-spin"></i>
            </td>
            <td class="total text-right" ng-if="!calculatingFee">[[ payment.fee | currency:"$":2 ]]</td>
          </tr>
          <tr>
            <td colspan="5">
              <h3>Amount Charged:</h3>
            </td>
            <td class="text-right">
              <h3 class="total">[[ payment.total | currency:"$":2 ]]</h3>
            </td>
          </tr>
        </table>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-offset-9 col-sm-3 col-md-offset-9 col-md-3">
        <button class="btn btn-block btn-lg btn-primary" ng-click="done()">Done</button>
      </div>
    </div>
  </script>

  <!-- Message modal dialog -->
  <script type="text/ng-template" id="messageDialog.html">
    <div class="modal-header">
      <h3 class="modal-title">[[ title ]]</h3>
    </div>
    <div class="modal-body">
      [[ message ]]
    </div>
    <div class="modal-footer">
      <button class="btn btn-primary btn-block btn-lg" ng-click="ok()">OK</button>
    </div>
  </script>

  <!-- Progress modal dialog -->
  <script type="text/ng-template" id="progressDialog.html">
    <div class="modal-header">
      <h3 class="modal-title">Processing...</h3>
    </div>
    <div class="modal-body">
      <p>Please wait.</p>
    </div>
    <div class="modal-footer">
      <progressbar class="progress-striped active"></progressbar>
    </div>
  </script>

  <!-- Vendor -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular-route.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.13.0/ui-bootstrap-tpls.min.js"></script>
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap-tpls.min.js"></script> -->
  <script src="https://js.stripe.com/v3/"></script>

  {% javascripts '@AppBundle/Resources/public/js/app.js' %}
    <script src="{{ asset_url }}"></script>
  {% endjavascripts %}

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-64630294-2', 'auto');
    ga('send', 'pageview');
  </script>
</body>
</html>
